
.secaoApp {
  color: var(--cor-cinza-fontes);
}

.secaoApp-texto {
  line-height: 2;
  margin-bottom: 1em;
}
.secaoApp-texto b {
  margin-top: .3em;
}

.secaoApp-plataformas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.secaoApp-img {
  cursor: pointer;
  width: 130px;
}


.secaoApp-imgDestaque {
  display: none;
}


@media (min-width: 830px) {

  .secaoApp {
    text-align: left;
  }

  .secaoApp-titulo {
    text-align: left;
  }

  .secaoApp-imgDestaque {
    display: block;
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
  }

  .secaoApp-plataformas {
    display: block;
    padding-top: 1.5em;
    position: relative;
  }

  .secaoApp-plataformas:before {
    content: '';
    height: 1px;
    width: 45%;
    background-color: var(--cor-cinza);
    position: absolute;
    top: 4px;
  }

  .secaoApp-plataformas li {
    display: inline-block;
    margin-right: 3em;
    margin: 1em 3em 0 0
  }

}